################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EShop.Orders/.vs/EShop.Orders/v17/.suo
/EShop.Orders/.vs/ProjectEvaluation/eshop.orders.metadata.v7.bin
/EShop.Orders/.vs/ProjectEvaluation/eshop.orders.projects.v7.bin
/EShop.Orders/.vs/EShop.Orders/DesignTimeBuild/.dtbcache.v2
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/0394758e-df1b-4ead-a600-93d4aa13f98b.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/06fba268-4532-46c5-8aae-84d115b6ffc3.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/1017f43e-ef9b-4b05-b3eb-2a28bc2eaa3b.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/1bcdcca9-f0d3-4029-9e01-c6e2edfb14a8.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/23739e70-51ca-43b2-89fa-116d7bb9bdcf.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/4a5923db-4b5a-435d-a01f-9dcf58e666ed.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/8258d5fc-f966-4609-a971-d9ea78318820.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/c427bf26-42df-4f69-9b3c-fd6f2fb4e649.vsidx
/EShop.Orders/.vs/EShop.Orders/FileContentIndex/ffbf6c2c-5aac-4881-9290-43bed1079dfe.vsidx
/EShop.Orders/.vs/EShop.Orders/config/applicationhost.config
/EShop.Orders/.vs/EShop.Orders/FileContentIndex
/EShop.Orders/.vs/EShop.Orders/v17/DocumentLayout.json
/EShop.Orders/.vs/EShop.Orders/v17/.futdcache.v2
/EShop.Orders/EShop.Orders.Api/bin/Debug/net8.0/EShop.Orders.Api.dll
/EShop.Orders/EShop.Orders.Api/bin/Debug/net8.0/EShop.Orders.Api.exe
/EShop.Orders/EShop.Orders.Api/bin/Debug/net8.0/EShop.Orders.Api.pdb
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/ref/EShop.Orders.Api.dll
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/refint/EShop.Orders.Api.dll
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/apphost.exe
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.AssemblyInfo.cs
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.AssemblyInfoInputs.cache
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.dll
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.pdb
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.sourcelink.json
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0/EShop.Orders.Application.dll
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0/EShop.Orders.Application.pdb
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/ref/EShop.Orders.Application.dll
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/refint/EShop.Orders.Application.dll
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.AssemblyInfo.cs
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.AssemblyInfoInputs.cache
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.dll
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.pdb
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.sourcelink.json
/EShop.Orders/EShop.Orders.Core/bin/Debug/net8.0/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Core/bin/Debug/net8.0/EShop.Orders.Core.pdb
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/ref/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/refint/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.AssemblyInfo.cs
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.AssemblyInfoInputs.cache
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.csproj.CoreCompileInputs.cache
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.pdb
/EShop.Orders/EShop.Orders.Core/obj/Debug/net8.0/EShop.Orders.Core.sourcelink.json
/EShop.Orders/EShop.Orders.Infrastruture/bin/Debug/net8.0/EShop.Orders.Infrastruture.dll
/EShop.Orders/EShop.Orders.Infrastruture/bin/Debug/net8.0/EShop.Orders.Infrastruture.pdb
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/ref/EShop.Orders.Infrastruture.dll
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/refint/EShop.Orders.Infrastruture.dll
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.AssemblyInfo.cs
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.AssemblyInfoInputs.cache
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.dll
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.pdb
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.sourcelink.json
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.assets.cache
*.cache
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.csproj.CoreCompileInputs.cache
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Orders.Application.csproj.FileListAbsolute.txt
/EShop.Orders/EShop.Orders.Application/obj/EShop.Orders.Application.csproj.nuget.dgspec.json
/EShop.Orders/EShop.Orders.Application/obj/project.assets.json
/EShop.Orders/EShop.Orders.Application/obj/project.nuget.cache
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0/EShop.Orders.Application.deps.json
/EShop.Orders/.vs/EShop.Orders/v17/DocumentLayout.json
/EShop.Orders/EShop.Orders.Api/obj/project.nuget.cache
/EShop.Orders/EShop.Orders.Api/obj/project.assets.json
/EShop.Orders/EShop.Orders.Api/obj/EShop.Orders.Api.csproj.nuget.dgspec.json
/EShop.Orders/EShop.Orders.Application/obj/Debug/net8.0/EShop.Or.D3D207ED.Up2Date
/EShop.Orders/EShop.Orders.Api/bin/Debug/net8.0
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/staticwebassets
/EShop.Orders/EShop.Orders.Api/EShop.Orders.Api.csproj.user
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Or.ACC4A0D3.Up2Date
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.csproj.AssemblyReference.cache
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.csproj.CoreCompileInputs.cache
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.csproj.FileListAbsolute.txt
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/staticwebassets.build.json
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0/EShop.Orders.Core.pdb
*.testlog
*.manifest
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.assets.cache
/EShop.Orders/EShop.Orders.Infrastruture/obj/EShop.Orders.Infrastruture.csproj.nuget.dgspec.json
/EShop.Orders/EShop.Orders.Infrastruture/obj/EShop.Orders.Infrastruture.csproj.nuget.g.props
/EShop.Orders/EShop.Orders.Infrastruture/obj/project.assets.json
/EShop.Orders/EShop.Orders.Infrastruture/obj/project.nuget.cache
/EShop.Orders/EShop.Orders.Api/obj/Debug/net8.0/EShop.Orders.Api.assets.cache
/EShop.Orders/EShop.Orders.Api/obj/EShop.Orders.Api.csproj.nuget.g.props
/EShop.Orders/EShop.Orders.Infrastruture/bin/Debug/net8.0/EShop.Orders.Core.dll
/EShop.Orders/EShop.Orders.Infrastruture/bin/Debug/net8.0/EShop.Orders.Core.pdb
/EShop.Orders/EShop.Orders.Infrastruture/bin/Debug/net8.0/EShop.Orders.Infrastruture.deps.json
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Or.BCA80003.Up2Date
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.csproj.CoreCompileInputs.cache
/EShop.Orders/EShop.Orders.Infrastruture/obj/Debug/net8.0/EShop.Orders.Infrastruture.csproj.FileListAbsolute.txt
/EShop.Orders/EShop.Orders.Application/bin/Debug/net8.0
/EShop.Orders/EShop.Orders.Application/obj/EShop.Orders.Application.csproj.nuget.g.props
